# virtualenvs
alias venv='source venv/bin/activate'
alias mlvenv='source ~/Documents/ml/venv/bin/activate'

# recursively delete all pyc files from current directory
alias delpyc='find . -name \*.pyc -delete'

# start redis server
alias redis='~/redis-4.0.10/src/redis-server'

# print file tree from current directory
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# rabbitmq
alias rabbitmq-server='/usr/local/sbin/rabbitmq-server'

# Android
alias adb='/Users/aaron/Library/Android/sdk/platform-tools/adb'

# tfx
alias tfxvenv='source /Users/aaron/Documents/github/tfx/venv/bin/activate'

# Python
alias utest='python -m unittest'

# Erlang
alias rtest='rebar3 eunit'

alias rct='rebar3 ct'

# collects new Apps and Deps, compiles and launches shell
alias rReleaseAndShell='rebar3 do release, shell'

# compiles existing Apps and Deps and launches shell
alias rshell='rebar3 shell'

alias rRelease='rebar3 release && rebar3 shell'

# lookup IP aliases
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Erlang
alias add_erlang_gitignore="curl https://raw.githubusercontent.com/github/gitignore/main/Erlang.gitignore > .gitignore"

alias account="123456789012"

alias rr=rebar3
