# virtualenvs
alias venv='source venv/bin/activate'
alias mlvenv='source ~/Documents/ml/venv/bin/activate'

# recursively delete all pyc files from current directory
alias delpyc='find . -name \*.pyc -delete'

# start redis server
alias redis='~/redis-4.0.10/src/redis-server'

# print file tree from current directory
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# rabbitmq
alias rabbitmq-server='/usr/local/sbin/rabbitmq-server'

# Android
alias adb='/Users/aaron/Library/Android/sdk/platform-tools/adb'

# tfx
alias tfxvenv='source /Users/aaron/Documents/github/tfx/venv/bin/activate'

# Python
alias utest='python -m unittest'

# Erlang
alias rebar3='/usr/local/bin/rebar3'

alias rtest='rebar3 eunit'

alias rrun='rebar3 release && rebar3 shell'
