# colors
export CLICOLOR=1
export LSCOLORS=ExGxBxDxCxEgEdxbxgxcxd

# Golang
export GO111MODULE="on"
export PATH="$PATH:$(go env GOPATH)/bin"

# Erlang
export PATH="$PATH:$HOME/Documents/erlang/erlang_ls/_build/default/bin"

